@font-face {
    font-family: 'DreamingOutLoud';
    src: url('/fonts/dreaming-outloud-regular.otf');
}

@font-face {
    font-family: 'Clicker Script';
    src: url('/fonts/ClickerScript-Regular.ttf');
}

:root {
    font-family: 'DreamingOutLoud', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    font-size: var(--font-size-p);
    font-weight: 400;
    background-color: #ffffff;

    /* Déclaration des couleurs */
    --color-terracota: #a65339;
    --color-vert: #374c47;
    --color-white: #ffffff;
    --color-marrom: #826d4f;
    --color-beige: #e1d1ba;
    --color-gris: #959999;
    --color-gold: #dcb253;

    /* Déclaration des types de police */
    --font-title: 'Clicker Script', cursive;
    --font-text: 'DreamingOutLoud', sans-serif;

    /* Déclaration des tailles de police */
    --font-size-h1: 90px;
    --font-size-p: 24px;
    --font-size-cta: 40px;
    --font-size-cta-2: 20px;
}
